<div class="countainer-fluid ">
  <div class="row ">
    <div class="col-12 mt-3">

      <p>Maître Emilie VOGT<br/>
        Avocat à la Cour</p>
        <hr style="width: 143px;border-bottom-width: 2px"/>
        <address>
           5, rue Doria<br/>
          34000 Montpellier<br/>
          <a style="color: #212529" href="tel:+33467609895"> tel : 04 67 60 98 95 - </a>
          <a style="color: #212529" href="fax:+33467609896"> fax : 04 67 60 98 96</a>


        </address>
        <hr style="width: 143px;border-bottom-width: 2px"/>




        <p>Tout droit réservés</p>

    </div>
  </div>
</div>
