<div class="countainer-fluid mx-3 mt-3 mb-5">
  <div class="row justify-content-center mb-3">
    <div class="d-flex ">
      <h3>Présentation
        <br />
        <hr style="border-color: #084b83;width: 143px;border-bottom-width: 2px" />
      </h3>

    </div>
  </div>

  <div class="row">
    <div class="col-md-10-offset-1 col-lg-4">
      <img src="assets/image/1.png" class="align-self-center rounded-circle img-fluid mx-auto d-block"
        alt="Responsive image">
    </div>
    <div class="col-md-10-offset-1 col-lg-8 mx-auto my-3">

      <p>Outre le Certificat d'Aptitude à la Profession d'Avocat, je suis également titulaire d'un Master II en Droit pénal des affaires, d'un diplôme universitaire de Droit pénal et sciences criminelles ainsi que d'un diplôme universitaire en Droit des contrats et des obligations.</p>
      <p >J'ai prêté serment au Barreau de MONTPELLIER en 2018.</p>
      <p >Je suis soucieuse de garantir à mes clients le respect de règles fondamentales que sont l'écoute, la disponibilité, l'accessibilité et l'efficacité.</p>
      <p >Je vous conseille sur les démarches à entreprendre ou la procédure à engager en fonction de vos besoins et de vos attentes, mais également en fonction de votre situation personnelle.</p>
      <p >J'assure ainsi un service de conseil, d'assistance juridique et également de représentation devant les Juridictions.</p>
    </div>
  </div>
</div>
