<div class="countainer-fluid mx-3 mt-3 mb-5">
  <div class="row justify-content-center mb-3">
    <div class="d-flex ">
      <h3>Présentation</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10-offset-1 col-lg-4">
    <img src="assets/image/1.png" class="align-self-center rounded-circle img-fluid mx-auto d-block" alt="Responsive image">
  </div>
    <div class="col-md-10-offset-1 col-lg-8 mx-auto my-3">
      <h5 class="mt-0">Center-aligned media</h5>
      <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
      <p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    </div>
  </div>
</div>
