<div class="countainer-fluid mx-3 my-5">
  <div class="row justify-content-center mb-3">
    <div class="d-flex ">
      <h3 >CONTACT</h3>
    </div>
  </div>
  <form>
    <div class="form-row  ">
      <div class="form-group  col-md-6  mx-auto">
        <label for="nom">Nom</label>
        <input type="text" class="form-control" id="nom">
      </div>

      <div class="form-group col-md-6  mx-auto">
        <label for="prenom">Prénom</label>
        <input type="text" class="form-control" id="prenom">
      </div>
    </div>
    <div class="form-row">

      <div class="form-group  col-md-6  mx-auto">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="form-group col-md-6  mx-auto">
        <label for="telephone">Télephone</label>
        <input type="number" class="form-control" id="telephone">
      </div>
    </div>
    <div class="form-row">

      <div class="form-group col-md-12  mx-auto">
        <label for="message">Message</label>
        <textarea type="text" class="form-control" id="message"></textarea>
      </div>
    </div>
    <div class=" d-flex justify-content-center">
      <button type="submit" class="btn btn-primary ">Envoyer</button>
    </div>
  </form>
  <div class="row mx-auto my-3 d-flex justify-content-center">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2888.7138509795177!2d3.864753315447036!3d43.61249927912267!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b6af00488794b7%3A0x346515011bac5665!2s5%20Rue%20Doria%2C%2034000%20Montpellier!5e0!3m2!1sfr!2sfr!4v1589812402662!5m2!1sfr!2sfr"
      width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
      tabindex="0"></iframe>
  </div>
</div>
