<div class="countainer-fluid mx-3 my-3">
  <div class="row justify-content-center mb-3">
    <div class="d-flex ">
      <h3 style="text-align: center;">Contact
        <br />
        <hr style="border-color: #084b83;width: 143px;border-bottom-width: 2px" />
      </h3>
    </div>
  </div>
  <form (ngSubmit)="sendEmail()" #etatForm="ngForm" class="was-validated">
    <div class="form-row  ">
      <div class="form-group  col-md-6  mx-auto">
        <label for="nom">Nom *</label>

        <input type="text" class=" form-control is-invalid" id="nom" name="nom" [(ngModel)]="user.nom"
          #etatNom="ngModel" required>
        <div class="invalid-feedback" *ngIf="etatNom.invalid ">le nom est obligatoire</div>
      </div>

      <div class="form-group col-md-6  mx-auto">
        <label for="prenom">Prénom *</label>
        <input type="text" class="form-control is-invalid" name="prenom" [(ngModel)]="user.prenom" #etatprenom="ngModel"
          required>
        <div class="invalid-feedback" *ngIf="etatprenom.invalid ">Le prénom est obligatoire</div>
      </div>
    </div>
    <div class="form-row">

      <div class="form-group  col-md-6  mx-auto">
        <label for="email">Email *</label>
        <input type="email" class="form-control is-invalid" name="email" [(ngModel)]="user.email" #etatEmail="ngModel"
          required email>
        <div class="invalid-feedback" *ngIf="etatEmail.invalid ">L'email est obligatoire</div>
      </div>
      <div class="form-group col-md-6  mx-auto">
        <label for="telephone">Télephone</label>
        <input type="text" class="form-control " name="telephone" [(ngModel)]="user.telephone">
      </div>
    </div>
    <div class="form-row">

      <div class="form-group col-md-12  mx-auto">
        <label for="message">Message *</label>
        <textarea type="text" class="form-control is-invalid" name="message" [(ngModel)]="user.message"
          #etatmessage="ngModel" required></textarea>
        <div class="invalid-feedback" *ngIf="etatmessage.invalid">Veuillez saisir votre demande</div>
      </div>
    </div>
    <div class=" d-flex justify-content-center">
      <div *ngIf="err" class="text-danger text-center">
        Oops, une erreur s'est produite, merci de renouveller l'opération
      </div>

      <div *ngIf="ok" class="alert alert-success" role="alert">
        Votre message a bien été envoyé :)
      </div>

    </div>
    <ng-container *ngIf="!sending; else elseBlockLoading">

      <div class=" d-flex justify-content-center">

        <div>
          <button class="btn btn-primary " type="submit" [disabled]="etatForm.invalid">Envoyer</button>
        </div>

      </div>
    </ng-container>
  </form>
  <div class="row mx-auto my-3 d-flex justify-content-center">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2888.7138509795177!2d3.864753315447036!3d43.61249927912267!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b6af00488794b7%3A0x346515011bac5665!2s5%20Rue%20Doria%2C%2034000%20Montpellier!5e0!3m2!1sfr!2sfr!4v1589812402662!5m2!1sfr!2sfr"
      width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
      tabindex="0"></iframe>
  </div>
</div>

<ng-template #elseBlockLoading>
  <div class=" d-flex justify-content-center">

    <div>
      <button class="btn btn-primary" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        envoi en cours...
      </button>
    </div>
  </div>
</ng-template>
