<div class="countainer-fluid">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" routerLink="/accueil">
      <img src="/assets/image/logo.png" width="125" height="125" alt="" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" [class.collapse]="collapsed"  id="navbarNavAltMarkup">
      <div class="navbar-nav mx-auto">
        <a class="nav-item nav-link active mx-3" routerLinkActive="active" routerLink="/accueil">ACCUEIL  <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link mx-3" routerLinkActive="active" routerLink="/presentation">PRESENTATION</a>
        <a class="nav-item nav-link mx-3" routerLinkActive="active" routerLink="/domaineCompétences">DOMAINES D'INTERVENTIONS</a>

        <a class="nav-item nav-link mx-3" routerLinkActive="active" routerLink="/honoraire">HONORAIRES</a>
        <a class="nav-item nav-link mx-3" routerLinkActive="active" routerLink="/contact">CONTACT</a>

      </div>
    </div>
  </nav>
</div>
