<div class="countainer-fluid">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" routerLink="/accueil">
      <img src="/assets/image/logo.png" width="125" height="125" alt="" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mx-auto">
        <a class="nav-item nav-link active mx-3" routerLink="/accueil">Accueil  <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link mx-3" routerLink="/presentation">Presentation</a>
        <a class="nav-item nav-link mx-3" routerLink="/domaineCompétences">Domaines de compétences</a>
        <a class="nav-item nav-link mx-3" routerLink="/contact">Contact</a>
        <a class="nav-item nav-link mx-3" href="#">Honoraire</a>
      </div>
    </div>
  </nav>
</div>
