<div class="countainer-fluid mx-3 my-3" >
  <div class="row justify-content-center mb-3">
    <div class="d-flex ">
      <h3 style="text-align: center;">Honoraires
        <br />
        <hr style="border-color: #084b83;width: 143px;border-bottom-width: 2px" />
      </h3>
    </div>
  </div>
 <div class="row mx-3">
  <div class=" col-md-8 offset-md-2  my-3" >
    <h5>Honoraire de diligences </h5>
    <p>Le montant des honoraires est librement fixé avec le client et tiennent compte :
      <br />
    </p>
    <ul>
      <li>de la situation de fortune du client,</li>
      <li>du temps consacré à l'affaire,</li>
      <li>du travail de recherche et des diligences à accomplir</li>
      <li>de la nature et de la difficulté de l'affaire,</li>
      <li>de l'importance des intérêts en cause,</li>
      <li>de l'incidence des frais et charges du cabinet d'avocat,</li>
      <li>de la notoriété, de l'expérience et de l'ancienneté de l'avocat,</li>
      <li>des avantages et du résultant obtenus au profit du client,</li>
    </ul>
    <p>
      La plupart des dossiers sont facturés sur une base forfaitaire définie en fonction de ces paramètres.
      <br/>
      Certains honoraires peuvent être fixés au temps passé selon un taux horaire défini préalablement à toute intervention.
    </p>

    <h5>Honoraire de résultat</h5>
    <p>
      Certains dossiers peuvent également faire l'objet d'une facturation additionnelle basée sur le résultat obtenu et les sommes effectivement encaissées.
      <br/>
      Il s'agit d'un complément d'honoraires correspondant à un pourcentage du gain ou de l'économie réalisé par le client.
      <br/>
      Cet honoraire est prélevé directement, avec votre autorisation, sur les sommes qui vous seront versées par la partie adverse.
    </p>

    <h5>Convention d'honoraires</h5>

    <p>
      Maître Emilie VOGT n'engage aucune démarche sans que la question financière n'ait été réglée afin d'éviter tout litige.
      <br/>
      Une convention d'honoraires portant sur le montant des honoraires et leurs modalités de paiement sera signée entre le client et l'avocat afin de permettre une meilleure visibilité des coûts et un travail en confiance.
    </p>

    <h5>L'aide juridictionelle</h5>
    <p>
      Si vous avez de faibles revenus, vous pouvez bénéficier de l'aide juridictionnelle.
      <br/>
      En fonction du niveau de vos ressources, l'État peut prendre en charge la totalité ou une partie des frais de justice (honoraires d'avocat, frais d'huissier, frais d'expertise, ...).
    </p>

    <h5>L'assurance de protection juridique</h5>
    <p>
      Vous êtes peut être bénéficiaire d'une assurance de protection juridique souscrite à titre principale ou complémentaire à un autre contrat d'assurance (responsabilité civile, habitation, auto, ...).
      <br/>
      Cette garantie vous permet de bénéficier de la prise en charge des honoraires d'avocats et des frais de justice suivant le barème contractuel établi par l'assurance.
      <br/>
      L'aide juridictionnelle ne peut être accordée lorsque les frais de justice sont pris en charge par un contrat d'assurance de protection juridique.
    </p>

  </div>

</div>



</div>
