<div class="countainer-fluid">
  <div class="jumbotron jumbotron-fluid text-center my-auto">
    <div class="row">
      <div class="col-sm-6 mx-auto">
        <div class=" align-self-center card  text-center ">
          <div class="card-body">
            <h2 class="card-title">Maître Emilie VOGT</h2>
            <h3 class="card-subtitle mb-2 ">Avocat à la Cour <br />
              Barreau de Montpellier</h3>
            <p class="lead mt-4">
              <a class="btn btn-primary mb-1 ml-1 " href="#" role="button" routerLink="/presentation">
                <strong>En savoir plus</strong>
              </a>
              <a class="btn btn-primary mb-1 ml-1" href="#" role="button" routerLink="/contact">
                <strong>Contactez moi</strong>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>


  </div>
<div class="my-5 mx-5">
  <app-home-feature></app-home-feature>
</div>
</div>
