

p{
  font-size: medium;
}
  h1, h2, h3, h4, h5, h6, p, ul, li{
    font-family: Baskerville;
    color: #000000;
    text-align: center;

    font-weight: bold;
    margin-bottom:5px;

  }
  .card{
    background-color: rgba(190, 190, 190, 0.637);
    border-width: 3px;
    border-color: black;


  }
  .card-header{
    background-color: rgba(190, 190, 190, 0.007) ;

  }
  .card-body{
    background-color: rgba(190, 190, 190, 0.007);
  }
  .list-group.list-group-flush{
    background-color: rgba(190, 190, 190, 0.007);

  }
