<div class="countainer-fluid">
  <div class="jumbotron jumbotron-fluid text-center">

    <div class="card mx-auto">
      <div class="card-body">
        <h5 class="card-title">Maître Emilie VOGT</h5>
        <h6 class="card-subtitle mb-2 ">Avocat à la Cour <br />
          Barreau de Montpellier</h6>
        <p class="lead mt-4">
          <a class="btn btn-primary " href="#" role="button" routerLink="/presentation">
            <strong>En savoir plus</strong>
          </a>
          <a class="btn btn-primary ml-1" href="#" role="button" routerLink="/contact">
            <strong>Contactez moi</strong>
          </a>
        </p>
      </div>
    </div>

  </div>
</div>
